@using RusBlazor.Components.Button
@typeparam T
@inject IJSRuntime JSRuntime

<div class="rus-select">
    <RusInput TValue="string" @ref="rusInput" @bind-Value="displayValue" DisplayName="test" OnFocus="OnFocus" OnBlur="OnBlur" InputChanged="InputChanged" Disabled="loadingComponent" Style="@(menuOpen ? "z-index: 2;" : "")" />
    <RusMenu @ref="rusMenu" T="T" IsOpenChanged="ShowMenuChanged">
        <MenuContent>
            @if (loadingSearch)
            {
                <RusMenuItem Hoverable="false">
                    <RusMenuItemContentLoading />
                </RusMenuItem>
            }
            else if (!filteredItems.Any())
            {
                <RusMenuItem Hoverable="false">
                    <RusMenuItemContentText Text="No results" />
                </RusMenuItem>
            }
            else
            {
                foreach (var item in filteredItems)
                {
                    <RusMenuItem OnItemClick="@(() => SelectItem(item.Key, item.Value))" Id="@($"{rusMenu!.GetId()}-{item.Key.ToString()}")" Class="@(Value.Equals(item.Key) ? "selected" : "")">
                        <RusMenuItemContentKeyValue Key="@item.Key.ToString()" Value="@item.Value" />
                    </RusMenuItem>
                }
            }
        </MenuContent>
        <MenuBottomContent>
            <RusMenuItem Hoverable="false">
                <div style="display: flex; height: 30px;">
                    <RusButton Style="width:25%;height:30px;" OnClick="PreviousPage" Disabled="currentPageIndex <= 0">
                        @("<")
                    </RusButton>
                    <div style="width:50%;height:30px;">
                        @(GetPaginationText())
                    </div>
                    <RusButton Style="width:25%;height:30px;" OnClick="NextPage" Disabled="IsLastPageIndex()">
                        @(">")
                    </RusButton>
                </div>
            </RusMenuItem>
        </MenuBottomContent>
    </RusMenu>
</div>

@code {
    [Parameter]
    public T Value { get; set; }

    [Parameter]
    public EventCallback<T> ValueChanged { get; set; }

    [Parameter]
    public Func<string, int, int, CancellationToken, Task<(Dictionary<T, string>, int)>> GetOptionsAsync { get; set; }

    [Parameter]
    public Func<T, int, Task<int>> GetPageIndexByIdAsync { get; set; }

    [Parameter]
    public bool AllowUndefinedValues { get; set; } = true;

    bool loadingComponent = true;
    bool loadingSearch = false;
    bool menuOpen;
    string displayValue = "Loading";
    string? lastVerifiedDisplayValue;
    string lastInput = "";
    private Timer? searchTimer;
    private CancellationTokenSource? cancellationTokenSource;
    Dictionary<T, string> filteredItems = new();
    RusMenu<T>? rusMenu;
    RusInput<string>? rusInput;
    int pageSize = 15;
    int currentPageIndex = -1;
    int resultCount = -1;
    string? rusInputId;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Init default option
        if (firstRender)
        {
            rusInputId = rusInput?.GetId() ?? "";
            (var currentValue, int tempCount) = await GetOptionsAsync(Value.ToString(), 0, 1, CancellationToken.None);
            if (currentValue.ContainsKey(Value))
            {
                displayValue = currentValue[Value];
            }
            else
            {
                displayValue = $"Unknown ({Value})";
            }
            loadingComponent = false;
            lastVerifiedDisplayValue = displayValue;
            this.StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    void OnFocus()
    {
        InitSearch(0);
    }

    void OnBlur()
    {
        cancellationTokenSource?.Cancel();
    }

    void InputChanged(string input)
    {
        lastInput = input;
        InitSearch(150);
    }

    void NextPage()
    {
        currentPageIndex++;
        InitSearch(0);
    }

    void PreviousPage()
    {
        currentPageIndex--;
        InitSearch(0);
    }

    void InitSearch(int searchDelayMs)
    {
        cancellationTokenSource?.Cancel();
        cancellationTokenSource = new CancellationTokenSource();
        CancellationToken cancellationToken = cancellationTokenSource.Token;

        searchTimer?.Dispose();
        searchTimer = new Timer(async (state) =>
        {
            if (!cancellationToken.IsCancellationRequested)
            {
                await SearchAsync(cancellationToken);
            }
        }, null, searchDelayMs, Timeout.Infinite);
    }

    async Task SearchAsync(CancellationToken token)
    {
        loadingSearch = true;
        await rusMenu.OpenAsync();
        string search = lastInput;
        await InvokeAsync(StateHasChanged); // triggers "Loading" in menu
        try
        {
            // Happens on new searches
            if (currentPageIndex < 0)
                currentPageIndex = GetPageIndexByIdAsync != null ? await GetPageIndexByIdAsync(Value, pageSize) : 0;

            if (GetOptionsAsync != null)
                (filteredItems, resultCount) = await GetOptionsAsync.Invoke(search, currentPageIndex, pageSize, token);

            // Adjust search so that a potential custom value is retrieved
            if (string.IsNullOrWhiteSpace(search))
                search = lastVerifiedDisplayValue ?? "";

            // Search for custom values
            if (AllowUndefinedValues && search.TryParseAsT<T>(out var value) && !filteredItems.ContainsKey(value))
                filteredItems.Add(value, $"Undefined ({value})");
        }
        catch (OperationCanceledException e)
        {
            // Search cancelled
        }
        loadingSearch = false;
        await InvokeAsync(StateHasChanged);
        if (filteredItems.ContainsKey(Value))
        {
            await JSRuntime.InvokeVoidAsync("scrollToElementInContainer", rusMenu!.GetId(), $"{rusMenu!.GetId()}-{Value.ToString()}", 150);
        }
    }

    void SelectItem(T key, string value)
    {
        Value = key;
        displayValue = value;
        lastVerifiedDisplayValue = value;
        rusMenu.CloseAsync();
        _ = ValueChanged.InvokeAsync(Value);
    }

    void ShowMenuChanged(bool showMenu)
    {
        if (!showMenu)
        {
            displayValue = lastVerifiedDisplayValue;
            lastInput = "";
            resultCount = -1;
            currentPageIndex = -1;
        }
        menuOpen = showMenu;
    }

    string GetPaginationText()
    {
        if (resultCount == -1)
            return "";

        int from = currentPageIndex * pageSize + 1;
        int to = (currentPageIndex + 1) * pageSize;

        from = from > resultCount ? resultCount : from;
        to = to > resultCount ? resultCount : to;
        string action = loadingSearch ? "Loading" : "Showing";

        return $"{action} {from} to {to} of {resultCount} results";
    }

    bool IsLastPageIndex()
    {
        return ((currentPageIndex + 1) * pageSize) >= resultCount;
    }
}

