@using RusBlazor.Components.MultiSelect
@using MockData

@inherits TestContext

@code {
    SortedDictionary<int, string> _testData;
    TaskCompletionSource<(SortedDictionary<int, string>, int)> _tcs;
    Func<List<int>, string, int, int, CancellationToken, Task<(SortedDictionary<int, string>, int)>> _getOptionsAsync;
    List<int> _selectedValues;

    public RusMultiSelectTests()
    {
        SetupVariables(0);
    }

    void SetupVariables(params int[] selectedValues)
    {
        _testData = MockDataHelper.BuildDummyData(0, 5, false);
        _tcs = new TaskCompletionSource<(SortedDictionary<int, string>, int)>();
        _getOptionsAsync = (selectedValues, search, pageIndex, pageSize, ct) => _tcs.Task;
        _selectedValues = new(selectedValues);
    }

    [Fact]
    public void RendersCorrectly()
    {
        SetupVariables(1);
        string label = "Test label";

        var cut = Render(
            @<RusMultiSelect T="int" @bind-Value="_selectedValues" GetOptionsAsync="_getOptionsAsync" Label="@(label)" />
        );

        cut.MarkupMatches(
    @<div class="rus-multiselect">
        <div class="rus-input-label">@label</div>
        <div class="rus-input-container" style="">
            <input id:ignore class="rus-input inactive" disabled value:ignore>
            <div class="rus-input-subtext inactive">@string.Join(", ", _selectedValues)</div>
        </div>
    </div>
        );
    }

    [Fact]
    public void RenderLoadFirstValueState()
    {
        SetupVariables(1);
        var cut = Render(
        @<RusMultiSelect T="int" @bind-Value="_selectedValues" GetOptionsAsync="_getOptionsAsync" />
        );

        cut.FindComponent<RusMultiSelect<int>>().Render();
        cut.Find(".rus-input").MarkupMatches(
        @<input id:ignore class:ignore disabled value="Loading">
    );
    }

    [Fact]
    public void RenderValidFirstValueState()
    {
        SetupVariables(1);
        var cut = Render(
        @<RusMultiSelect T="int" @bind-Value="_selectedValues" GetOptionsAsync="_getOptionsAsync" />
    );
        _tcs.SetResult((_testData, _testData.Count));
        cut.FindComponent<RusMultiSelect<int>>().Render();
        cut.Find(".rus-input").MarkupMatches(
        @<input id:ignore class:ignore value="@(_testData[1])">
    );
    }

    [Fact]
    public void RenderInvalidFirstValueState()
    {
        SetupVariables(-1);
        var cut = Render(
        @<RusMultiSelect T="int" @bind-Value="_selectedValues" GetOptionsAsync="_getOptionsAsync" />
        );
        _tcs.SetResult((_testData, _testData.Count));
        cut.FindComponent<RusMultiSelect<int>>().Render();
        cut.Find(".rus-input").MarkupMatches(
        @<input id:ignore class:ignore value="@($"Unknown (-1)")">
        );
    }
}
