@typeparam TValue
@inherits InputBase<TValue>

@inject IJSRuntime JSRuntime

<div class="@($"rus-input-label")">
    @Label
</div>
<div class="@($"rus-input-container {Class}")" style="@(Style)" @onclick="FocusInputAsync">
    <input id="@id" @bind="Value" @onfocus="@HandleFocusAsync" @onblur="@HandleBlurAsync" @oninput="@OnInput" class="rus-input @ActiveClass()" disabled="@Disabled" />
    <div class="rus-input-subtext">
        <div style="padding-left: 6px;">
            @HelperText
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback OnFocus { get; set; }

    [Parameter]
    public EventCallback OnBlur { get; set; }

    [Parameter]
    public EventCallback<string> InputChanged { get; set; }

    [Parameter]
    public string HelperText { get; set; } = "Hello";

    [Parameter]
    public string Label { get; set; } = "Various Fruits";

    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public string Class { get; set; } = "";

    [Parameter]
    public string Style { get; set; } = "";

    [Parameter] // Used for handling active from the outside, for example menus which frequently loses focus of input
    public bool? Active { get; set; }

    string id;
    bool active = false;

    protected override void OnInitialized()
    {
        id = Guid.NewGuid().ToString();
        base.OnInitialized();
    }

    void OnInput(ChangeEventArgs args)
    {
        InputChanged.InvokeAsync(args.Value.ToString());
    }

    public string GetId()
    {
        return id;
    }

    string ActiveClass()
    {
        if (Active != null)
        {
            return (bool)Active ? "active" : "inactive";
        }
        else
        {
            return active ? "active" : "inactive";
        }
    }

    async Task HandleFocusAsync()
    {
        active = true;
        this.StateHasChanged();
        if (OnFocus.HasDelegate)
        {
            await OnFocus.InvokeAsync();
        }
    }

    async Task HandleBlurAsync()
    {
        active = false;
        this.StateHasChanged();
        if (OnBlur.HasDelegate)
        {
            await OnBlur.InvokeAsync();
        }
    }

    async Task FocusInputAsync()
    {
        await JSRuntime.InvokeVoidAsync("selectElement", id);
    }

    protected override bool TryParseValueFromString(string value, out TValue result, out string validationErrorMessage)
    {
        throw new NotImplementedException();
    }
}
