@using Microsoft.JSInterop;
@using RusBlazor.Components.Helpers
@using RusBlazor.Enums
@using RusBlazor.Handlers

@inject IJSRuntime JSRuntime

@if (IsOpen)
{
    <div class="@("rus-menu")" style="@($"{AnchorStyle()}")" id="@(parentContainerId)">

        @if (MenuTopContent != null)
        {
            <div class="rus-menu-top">
                @MenuTopContent
            </div>
        }

        @if (MenuListContent != null)
        {
            <div class="rus-menu-dropdown" id="@id" style="@($"max-height:{dropdownHeight}px;")">
                @MenuListContent
            </div>
        }

        @if (MenuGridContent != null)
        {
            <div class="rus-menu-dropdown grid" id="@id" style="@($"max-height:{dropdownHeight}px;")">
                @MenuGridContent
            </div>
        }

        @if (MenuBottomContent != null)
        {
            <div class="rus-menu-bottom">
                @MenuBottomContent
            </div>
        }

    </div>
    <RusBackgroundOverlay @ref="backgroundOverlay" OnClick="CloseAsync" />
}


@code {
    [Parameter]
    public bool IsOpen { get; set; } = false;

    [Parameter]
    public EventCallback<(bool, int)> IsOpenChanged { get; set; }

    [Parameter]
    public Anchor Anchor { get; set; } = Anchor.AUTO;

    [Parameter]
    public RenderFragment? MenuListContent { get; set; }

    [Parameter]
    public RenderFragment? MenuGridContent { get; set; }

    [Parameter]
    public RenderFragment? MenuTopContent { get; set; }

    [Parameter]
    public RenderFragment? MenuBottomContent { get; set; }

    string id;
    string parentContainerId;
    int animationDurationMs = 200;
    int dropdownHeight = 400;
    bool closing = false;
    RusBackgroundOverlay? backgroundOverlay;

    public RusMenu()
    {
        id = Guid.NewGuid().ToString();
        parentContainerId = Guid.NewGuid().ToString();
    }

    string AnchorStyle()
    {
        string percentage = "110";
        return Anchor switch
        {
            Anchor.BOTTOM => $"top: {percentage}%; left: 0;",
            Anchor.TOP => $"bottom: {percentage}%; left: 0;",
            Anchor.LEFT => $"right: {percentage}%; top: 0;",
            Anchor.RIGHT => $"left: {percentage}%; top: 0;",
            Anchor.BOTTOM_LEFT => $"top: {percentage}%; right: 0;",
            Anchor.BOTTOM_RIGHT => $"top: {percentage}%; left: 0;",
            Anchor.TOP_LEFT => $"bottom: {percentage}%; right: 0;",
            Anchor.TOP_RIGHT => $"bottom: {percentage}%; left: 0;",
            _ => $"top: {percentage}%; left: 50%; transform: translateX(-50%);",
        };
    }

    public async Task OpenAsync()
    {
        await Task.Run(async () =>
        {
            // If clicked too fast, wait for closing to finish
            while (closing)
            {
                await Task.Delay(50);
            }
        });

        var alreadyOpen = IsOpen;

        IsOpen = true;

        if (IsOpenChanged.HasDelegate)
        {
            await InvokeAsync(async () =>
            {
                await IsOpenChanged.InvokeAsync((true, animationDurationMs));
            });
        }
        else
        {
            // This must be forced to run at this point, or the javascript below won't work
            this.StateHasChanged();
        }


        if (!alreadyOpen)
        {
            var functionSpecs = new object[]
            {
                new { name = "toggleDropdownHeight", args = new object[] { id, true, dropdownHeight, animationDurationMs } },
                new { name = "toggleDropdownOpacity", args = new object[] { parentContainerId, true, animationDurationMs } },
                // new { name = "addAndRemoveClass", args = new object[] { id, "hide-scrollbar", animationDurationMs } } // Re-enable again if there comes a time when needed
            };

            await JSRuntime.InvokeVoidAsync("executeMultipleFunctions", new object[] { functionSpecs });
        }
    }

    public async Task CloseAsync()
    {
        closing = true;

        if (IsOpen)
        {
            backgroundOverlay?.Close();
            var functionSpecs = new object[]
            {
                new { name = "toggleDropdownHeight", args = new object[] { id, false, dropdownHeight, animationDurationMs } },
                new { name = "toggleDropdownOpacity", args = new object[] { parentContainerId, false, animationDurationMs } },
                                new { name = "addAndRemoveClass", args = new object[] { id, "hide-scrollbar", animationDurationMs } }

            };

            await JSRuntime.InvokeVoidAsync("executeMultipleFunctions", new object[] { functionSpecs });

            await InvokeAsync(async () =>
            {
                await IsOpenChanged.InvokeAsync((false, animationDurationMs));
            });
            await Task.Delay(animationDurationMs);
            IsOpen = false;
        }
        else
        {
            // Trigger for outside components
            await InvokeAsync(async () =>
            {
                await IsOpenChanged.InvokeAsync((false, 0));
            });
        }

        closing = false;

        // When the menu disappears, some of the elements do not trigger mouseout correctly.
        // Clean up any tooltips caught by this.
        TooltipHandler.ResetTooltip();
    }

    public string GetId()
    {
        return id;
    }
}